/* =Common Styles
-------------------------------------------------------------- */

body {
	background-color:#45b6f4;
	color: #fff;
	font-size: 16px;
	line-height: 130%;
	font-family: "PT Sans", arial, sans-serif;
	font-weight: 300;
	height: 100% !important;
	text-align: left;
}

html {
	height: 100% !important;
}

textarea {
	resize: none
}

h1,h2,h3{
	font-family: 'Montserrat', sans-serif;
	text-transform: none;
    letter-spacing: 0;
    font-weight: 600;
}

h1 {
	font-size: 3em;
	margin: 0px 0px 20px 0px;

}

h2 {
	font-size: 1.5em;
	margin: 0px 0px 20px 0px;
}

h3{
	font-size: 1.2em;
	margin: 0px 0px 20px 0px;
}

p{
	font-size: 1em;
}

.container {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.seccion { 
	padding: 120px 0 0px 0;
}

/* =Menú
-------------------------------------------------------------- */

.navbar .nav .active a{
	font-weight: 600;
    border-bottom: solid 3px;
}

.nav>li>a {
    padding: 0px;
}

.nav>li{
	padding: 0px 15px;
}

.navbar-nav>li>a{
	padding-bottom: 0px;
}

.navbar ul.nav a { 
	color: #fff;
	height: 63px;
	background: transparent;
}

.navbar {
	border-radius: 0;
	border: 0;
	height: 100px;
	background-color: #45b6f4;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 500;
	margin: 0; 
	z-index: 1;
}

.navbar-header {
	padding: 0px 15px 0px 15px;
}

ul.nav a:hover { 
	color: #fff;
	background-color: transparent;
	-webkit-transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
	-o-transition: color 0.5s ease;
	transition: color 0.5s ease;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background-color: transparent;
	border-color: transparent;
}

.nav li.active a {
    color: #fff;
    background-color: transparent;
}

.navbar-nav li a {
    line-height: 100px;
    padding-top: 0;
}

.navbar-collapse {
	text-align: center;
	background-color: #45b6f4;
}

.navbar-toggle {
	color: #fff;
	border: 2px solid #fff;
	padding: 5px 10px 0 10px;
	border-radius: 0;
	margin-top: 30px;
}

.toggle-icon {
	font-size: 18px;
	line-height: 0 !important;
}

.navbar-toggle, .btn:focus {
	outline: none !important;
}

.logo-icon {
	font-size: 42px;
	color: #fff;
	line-height: 1.69 !important;
}

.dropdown-menu {
	top: 80px;
	background-color: #363636;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	font-size: 10px;
	padding: 15px 0;
}

.dropdown-menu>li>a {
	display: block;
	padding: 3px 20px;
	clear: both;
	height: auto !important;
	line-height: 15px !important;
}

.dropdown-hr {
    height: 1px;
    width: 100%;
    color: #404040;
    background: #404040;
    font-size: 0;
    border: 0;
	margin-top: 8px;
	margin-bottom: 8px;
	text-align: center;
}

.dropdown-lowercase {
	text-transform: none;
	letter-spacing: 1px;
}

.navspacer { height:100px; }

.navbar-brand{
	float: left;
    height: 50px;
    padding: 37px 15px;
    line-height: 20px;
    border-radius: 0;
	border: 0;
	background-color: #45b6f4;
	font-family: 'Montserrat', sans-serif;
	text-transform: none;
	font-size: 10px;
	letter-spacing: 1px;
	margin: 0; 
	z-index: 1;
	font-weight: 100;
}

/* =Home
-------------------------------------------------------------- */

.cabecera{
	
}

.cabecera-left{
		margin: 175px 0px 120px 0px;
	}
.cabecera-right{
	background-image: url(../img/bg/01.svg);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 100%;
	height: 580px;
	margin: 0px 0px 120px 0px;
}

/* =Mini
-------------------------------------------------------------- */

.mini-left{
		margin: 175px 0px 120px 0px;
	}
.mini-right{
	background-image: url(../img/bg/03.svg);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 100%;
	height: 580px;
}
.mini-left h1 {
	font-size: 3em;
	margin: 20px 0px 10px 0px;

}

.mini-left h2 {
	font-size: 1.5em;
	padding: 10px;
	background-color: #3268e6;
	display: inline;
}

/* =Cursos
-------------------------------------------------------------- */
.tabla{
	width: 100%;
	text-align: center;
	font-size: 11px;
	line-height: 130%;
	color: #fff;
}
.tabla-titulo{
	background-color: #fff;
	color: #45b6f4;
	font-size: 13px;
	font-weight: 700;
	height: 30px;
}
.tabla-color-00{
	background-color: #f5fafd;
	width: 25%;
	padding: 10px;
}
.tabla-color-01{
	background-color: #45b6f4;
	width: 25%;
	padding: 10px;
}
.tabla-color-02{
	background-color: #3268e6;
	width: 25%;
	padding: 10px;
}
.cursos-padding {
	padding: 0 15px 0 15px;
}
.item{
	display: none;
}
.reticula ul.nav a {
	color: #bdbdbd;
	border-radius: 0;
}

.reticula ul.nav a:hover {
	color: #272727;
}

.nav-pills > li {
    float: none;
    display: inline-block;
    padding: 0 15px 0 15px;
   	cursor: pointer;
}

.nav-pills {
	font-size: 14px;
	font-weight: 400;
	font-weight: 300;
	display: inline-block; 
	text-align: center;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color: transparent;
	color: #272727;
}

.reticula ul.nav a {
	color: #bdbdbd;
	border-radius: 0;
}

.reticula ul.nav a:hover {
	color: #272727;
}

.reticula ul li {
	list-style-type: none;
	padding: 10px !important;
	position: relative;
	font-size: 16px;
}

.reticula ul li:hover span.reticula-hover {
	opacity: 1;
}

.reticula img {
	max-width: 100%;
	width: 100%;
	height: 100% !important; 
}

span.reticula-hover {
    color: #8e8e8e;
    /* width: 100%; */
    /* height: 100%; */
    text-align: center;
    font: 0/0 a;
    left: 10px;
    right: 10px;
    position: absolute;
    top: 180px;
    bottom: 10px;
    opacity: 0.95;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

span.reticula-hover:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

span.reticula-hover span {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

.reticula-titulo {
	font: normal 16px "Montserrat", arial, sans-serif;
	text-transform: uppercase;
	color: #fff;
	margin:0;
	padding: 0px 5px 5px 5px;
	font-weight: 500; 
}

.reticula-info {
	font: normal 12px "Montserrat", arial, sans-serif;
	color: #fff;
	text-transform: uppercase;
	padding: 0px 5px 5px 5px;
	font-weight: 500;
}

.filter.active p{
    font-weight: 600;
    border-bottom: solid 3px;
}

li.filter p{
	margin: 0px;
}

.filtro{
	padding-top: 15px;
	padding-bottom: 15px;
}


/* =Precios
-------------------------------------------------------------- */

.precios-modulo {
	-webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    display: inline-block;
}

.precios-modulo-info {
	font-family: "PT sans";
	text-align: center;
	padding: 0px 30px 0px 30px;
	font: normal 14px "Open Sans", arial, sans-serif;
	color: #1b2335;
	margin: 10px;
	padding: 20px;
	background-color: #fff;
}

p.precio {
	font-weight: 700;
	font-size: 4em;
}

.precios-contenedor{
	padding-top: 20px;
}

/* =Botones
-------------------------------------------------------------- */
a:link, a:visited {
	text-decoration: none;
	font-family: 'Pt sans', sans-serif;
	color: #3268e6;
}
a:hover, a:focus {
	text-decoration: underline;
	font-family: 'Pt sans', sans-serif;
	color: #3268e6;
}

a.boton-solido:link, a.boton-solido:visited, a.boton-solido:focus{
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
    font-size: 1.2em;
    letter-spacing: 0.02em;
	background-color: #fa5847;
    padding: 20px 25%;
    text-align: center;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
}

a.boton-solido:hover{
	color: #fa5847;
	background-color: transparent;
	border: solid 2px #fa5847;
}
.boton-contenedor {
	margin: 40px 0px;
}



/* =Contacto
-------------------------------------------------------------- */

.contacto-left{
		margin: 120px 0px 0px 0px;
	}
.contacto-right{
	background-image: url(../img/bg/02.svg);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 100%;
	height: 530px;
	margin: 0px 0px 0px 0px;
}

.input-group .form-control:first-child{
	border-radius: 0;
    color: #888;
}

.input-group-btn:last-child>.btn{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
    letter-spacing: 0.02em;
    border-radius: 0;
    background: #fa5847;
    border-color: transparent;
    padding: 0px 40px 0px 40px;
}

.btn-primary:hover {
    color: #fff;
    font-size: 18px;
}

.contact-info {
	text-align: center;
	font-size: 14px;
	padding-bottom: 70px;
}

.contact-info-email {
	text-align: center;
	font-size: 14px;
	padding-bottom: 70px;
}

.form-control {
	transition: 0;
	-webkit-transition: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	-webkit-appearance: none;
	border-radius: 0;
	font-size: 12px;
	line-height: 2;
	height: 45px;
}

.caja-newsletter {
	z-index: 0;
}

textarea.form-control {
	height: 165px;
	line-height: 20px;
}

.form-control:focus, .form-control:focus + span .btn{
	border-color:#fa5847;
    box-shadow:none;
    -webkit-box-shadow: none;
    -webkit-appearance: none;
}

.form-control-message {
	padding: 10px 15px 28px 15px;
}

/* =Footer
-------------------------------------------------------------- */

.social-icon {
	font-size: 11px; 
	color: #fff; 
	display: block !important; 
	text-align: center !important; 
	line-height: 26px !important; 
}

.social-icon-holder {
	color: #fff;
	border: 2px solid #dadada;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	display:inline-block;
	margin: 3px;
}

.social-icon-holder:hover {
	background-color: #dadada;
}

.social-icon-holder:hover .social-icon {
	color: #333;
	-webkit-transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
	-o-transition: color 0.5s ease;
	transition: color 0.5s ease;
}

.footer-info {
	text-align: center;
}

h2.footer-info {
	padding-top: 20px;
}

#footer a, #footer img, #footer h2, #footer p{
	text-align: center;
	color: #fff;
	text-decoration: none;
}

.social-media{
	padding:15px 0px 50px 0px;
	text-align: center;
}

#footer {
	padding: 40px 0 30px 0;
	background-color: #1b2335; 
	margin-top: 0px;
}

.creditos {
	color: #fff;
	text-align: center;
	font-size: 0.8em;
}

.creditos a{
	color: #fff;
	text-decoration: none;
}

/* =Otros
-------------------------------------------------------------- */

.no-margin { margin:0 !important; }
.row { margin: 0; }
a:active,a:focus { outline: none; }
.center-vertically { display:table-cell; text-align:center; vertical-align:middle; }
.center-vertically-left { display:table-cell; text-align:left; vertical-align:middle; }
.center-vertically-right { display:table-cell; text-align:right; vertical-align:middle; }
.no-padding { padding: 0 !important; }
.navoffset { padding-top:100px; }


/* =Modal
-------------------------------------------------------------- */

.modal {
	padding-top: 5%;
}

.modal-backdrop.in {
	opacity: .9;
}

.modal-content {
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.modal button.close {
	border: 2px solid #272727;
	padding: 5px 5px 5px 5px;
	box-shadow: none;
	-webkit-box-shadow: none;
	display: inline-block;
	float: none;
	margin: 45px 0 20px 0;
}

.modal button.close:hover {
	background-color: #272727;
	border: 2px solid #272727;
	opacity: 1;
	color: #fff;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.close {
	opacity: .9;
	border: 2px solid #272727;
	padding: 5px 5px 5px 5px;
}

.modal-body {
	color: #1b2335;
	background-color: #fff;
}

div.modal-body .container {
	width: 100%;
	padding: 0px;
}

.hero-cursos{
	margin: 0px 0px 20px 0px;
	width: 100%
}

div.modal-body h1{
	font-size: 2.6em;
}

div.modal-body h3{
	font-weight: 300;
}

div.modal-body h4{
	font-family: 'Montserrat', sans-serif;
	text-transform: none;
    letter-spacing: 0;
    font-weight: 600;
    font-size: 1.2em;
}

.modal-body {
	padding: 22px 30px;
}

.formulario {
	color: #1b2335;
	background-color: #fff;
	text-align: center;
	padding: 30px 0px;
}

/* =Media Queries
-------------------------------------------------------------- */
@media (max-width: 990px) {
	.contacto-left{
		margin: 0px 0px 0px 0px;
		padding-top: 120px;
	}
	.cabecera-left {
		margin: 175px 0px 72px 0px;
	}
	.cabecera-right {
		background-position: center;
		background-size: 90%;
		height: 584px;
		margin: 0px 0px 40px 0px;
	}
	.mini-left {
		margin: 175px 0px 72px 0px;
	}
	.mini-right {
		background-position: center;
		background-size: 90%;
		height: 584px;
		margin: 0px 0px 40px 0px;
	}
	.contacto-right {
		background-position: center bottom;
		background-size: 100%;
		height: 700px;
		margin: 0px 0px 0px 0px;
	}
}
@media (max-width: 700px) {
	.cabecera-left {
		margin: 175px 0px 35px 0px;
	}
	.mini-left {
		margin: 175px 0px 35px 0px;
	}
}
@media (max-width: 580px) {
	.cabecera-left {
		margin: 175px 0px 50px 0px;
	}
	.cabecera-right {
		background-position: center;
		background-size: 110%;
		height: 584px;
		margin: 0px 0px 40px 0px;
	}
	.mini-left {
		margin: 175px 0px 50px 0px;
	}
	.mini-right {
		background-position: center;
		background-size: 100%;
		height: 435px;
		margin: 0px 0px 40px 0px;
	}	
	.contacto-right {
		background-position: center bottom;
		background-size: 100%;
		height: 560px;
		margin: 0px 0px 0px 0px;
	}
}
@media (max-width: 415px) {
	.cabecera-left {
		margin: 40px 0px 40px 0px;
	}
	.cabecera-right {
		background-position: center;
		background-size: 110%;
		height: 370px;
		margin: 0px 0px 40px 0px;
	}
	.mini-left {
		margin: 40px 0px 40px 0px;
	}
	.mini-right {
		background-position: center;
		background-size: 110%;
		height: 370px;
		margin: 0px 0px 40px 0px;
	}
	.contacto-right {
		background-position: center bottom;
		background-size: 140%;
		height: 530px;
		margin: 0px 0px 0px 0px;
	}
	.reticula-info {
		font: normal 0px "Montserrat", arial, sans-serif;
	}
	.reticula-titulo {
		font: normal 12px "Montserrat", arial, sans-serif; 
	}
}
@media (max-width: 376px) {
	.cabecera-left {
		margin: 40px 0px 40px 0px;
	}
	.cabecera-right {
		background-position: center;
		background-size: 110%;
		height: 330px;
		margin: 0px 0px 40px 0px;
	}
	.mini-left {
		margin: 40px 0px 40px 0px;
	}
	.mini-right {
		background-position: center;
		background-size: 100%;
		height: 331px;
		margin: 0px 0px 40px 0px;
	}
	.contacto-right {
		background-position: center bottom;
		background-size: 150%;
		height: 512px;
		margin: 0px 0px 0px 0px;
	}
}
@media (max-width: 321px) {
	.cabecera-left {
		margin: 40px 0px 40px 0px;
	}
	.cabecera-right {
		background-position: center;
		background-size: 110%;
		height: 279px;
		margin: 0px 0px 40px 0px;
	}
	.mini-left {
		margin: 40px 0px 40px 0px;
	}
	.mini-right {
		background-position: center;
		background-size: 110%;
		height: 279px;
		margin: 0px 0px 40px 0px;
	}
	.contacto-right {
		background-position: center bottom;
		background-size: 160%;
		height: 477px;
		margin: 0px 0px 0px 0px;
	}
}
/* Phones and down */
@media (max-width: 480px) {
	.seccion { padding-top: 40px; }
	.contacto-left { padding-top: 40px; }
	.filtro { padding-top: 30px; padding-bottom: 30px;}
	a.boton-solido:link, a.boton-solido:visited {
	    padding: 20px 18%;
	    text-align: center;
	    -webkit-transition: color 0.5s ease;
	    -moz-transition: color 0.5s ease;
	    -o-transition: color 0.5s ease;
	    transition: color 0.5s ease;
	}
	.navbar .nav .active a { border-bottom: solid 0px; }
	h1 { font-size: 2.6em; }
	div.modal-body h1 { padding-top: 30px; }
    .summary { padding:60px 0 60px 0; }
    .reticula { padding: 0; }
    span.reticula-hover {
		color: #8e8e8e;
		/*width: 100%;
		height: 100%;*/
		text-align: center;
		font: 0/0 a;
		left: 10px;
	    right: 10px;
	    position: absolute;
	    top: 10px;
	    bottom: 10px;
		opacity: 1;
		-webkit-transition: opacity 500ms;
		-moz-transition: opacity 500ms;
		-o-transition: opacity 500ms;
		transition: opacity 500ms; 
	}
    .about { padding:60px 0 60px 0 !important; }
    .page-title-2 { padding-bottom: 0; }
}
/* Landscape phones and portrait tablets and down*/
@media (max-width: 767px) {
	body { font-size:16px; line-height:27px; }
	.logo-icon-holder { width:30px; height:30px; }
	.hero { background-size:cover; background-position:top center!important; }
	.navbar { height: 60px; }*
	.navbar-toggle { background-color: transparent; border:0; padding:13px 0 0 0; border-radius:0; margin-top:0; }
    .navbar-brand { margin-top: 1px; padding: 19px 15px 0px 15px; }
    .navspacer { height:60px; }
    .navbar-nav li a { line-height:60px; }
	.navbar ul.nav a { color: #fff; height: 35px; }
    .nav-main .logo-icon { font-size:33px; line-height: .9 !important; }
    .toggle-icon { font-size:22px; line-height:1.6 !important; }
	.navbar .nav li.active:after { display:none; }
	span.reticula-hover {
		color: #8e8e8e;
		text-align: center;
		font: 0/0 a;
		left: 5px;
		right: 5px;
		position: absolute;
		top: 5px;
		bottom: 5px;
		opacity: 1;
		-webkit-transition: opacity 500ms;
		-moz-transition: opacity 500ms;
		-o-transition: opacity 500ms;
		transition: opacity 500ms; 
	}
	.copyright { text-align: center; }
	.made-with-love { text-align: center; }
	.navbar-nav { margin: 7.5px 0 32px; } 
	.hamburger { position:fixed; top:5px; margin-left:5px; padding:6px 14px; border:none; font-size:31px; }
	.mt30-sm { margin-top:30px; }
	.navoffset { padding-top:60px; }
	.contact-info { padding-bottom:2px; }
}
/* Portrait tablets and medium desktops */
@media (min-width: 992px) {
	.cabecera-left{
		margin: 175px 0px 120px 0px;
	}
	.cabecera-right{
		background-image: url(../img/bg/01.svg);
		background-repeat: no-repeat;
		background-position: right bottom;
		background-size: 100%;
		height: 580px;
		margin: 0px 0px 120px 0px;
	}
	.mini-left{
		margin: 175px 0px 120px 0px;
	}
	.mini-right{
		background-image: url(../img/bg/03.svg);
		background-repeat: no-repeat;
		background-position: right bottom;
		background-size: 100%;
		height: 537px;
	}
}

